body {
    font-family: "Montserrat Semi Bold", sans-serif !important;
}

#banner {
    background-image: linear-gradient(to right, #F05A28, #EC008C, #F05A28);
    color: white;
    font-family: "Montserrat Semi Bold", sans-serif;
}

.navbar {
    font-family: "Montserrat Bold", sans-serif;
}

img.nav-icon {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
}

img.dash-icon-1 {
    height: 30px !important;
    width: 30px !important;
}

img.dash-icon-2 {
    height: 50px !important;
    width: 50px !important;
}

img.dash-icon-3 {
    height: 100px !important;
    width: 100px !important;
}

img.dash-icon-4 {
    height: 70px !important;
    /*width: 100px !important;*/
}